################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/identityserver4_sample1_client_credentials/Api/bin/Debug/net5.0
/identityserver4_sample1_client_credentials/Api/obj
/identityserver4_sample1_client_credentials/Client/bin/Debug/net5.0
/identityserver4_sample1_client_credentials/Client/obj
/identityserver4_sample1_client_credentials/IdentityServer/bin/Debug/net5.0
/identityserver4_sample1_client_credentials/IdentityServer/obj
/identityserver4_sample2_interactive_aspnetcore/IdentityServer/bin/Debug/net5.0
/identityserver4_sample2_interactive_aspnetcore/IdentityServer/obj
/identityserver4_sample2_interactive_aspnetcore/MvcClient/bin/Debug/net5.0
/identityserver4_sample2_interactive_aspnetcore/MvcClient/obj
/identityserver4_sample3_aspnetcore_and_apis/Api/bin/Debug/net5.0
/identityserver4_sample3_aspnetcore_and_apis/Api/obj
/identityserver4_sample3_aspnetcore_and_apis/IdentityServer/bin/Debug/net5.0
/identityserver4_sample3_aspnetcore_and_apis/IdentityServer/obj
/identityserver4_sample3_aspnetcore_and_apis/MvcClient/bin/Debug/net5.0
/identityserver4_sample3_aspnetcore_and_apis/MvcClient/obj
/identityserver4_sample5_entityframework/Api/bin/Debug/net5.0
/identityserver4_sample5_entityframework/Api/obj
/identityserver4_sample5_entityframework/Client/bin/Debug/net5.0
/identityserver4_sample5_entityframework/Client/obj/Debug/net5.0
/identityserver4_sample5_entityframework/IdentityServer/bin/Debug/net5.0
/identityserver4_sample5_entityframework/IdentityServer/obj
/identityserver4_sample5_entityframework/MvcClient/bin/Debug/net5.0
/identityserver4_sample5_entityframework/MvcClient/obj
/identityserver4_sample6_aspnet_identity/Api/bin/Debug/net5.0
/identityserver4_sample6_aspnet_identity/Api/obj
/identityserver4_sample6_aspnet_identity/Client/bin/Debug/net5.0
/identityserver4_sample6_aspnet_identity/Client/obj
/identityserver4_sample6_aspnet_identity/IdentityServerAspNetIdentity/bin/Debug/net5.0
/identityserver4_sample6_aspnet_identity/IdentityServerAspNetIdentity/obj
/identityserver4_sample6_aspnet_identity/MvcClient/bin/Debug/net5.0
/identityserver4_sample6_aspnet_identity/MvcClient/obj
/eShopOnContainers_Identity.API/Identity.API/bin/Debug/net5.0
/eShopOnContainers_Identity.API/Identity.API/obj/Debug/net5.0
/eShopOnContainers_Identity.API/Identity.API/obj
/identityserver4_sample5_entityframework/Client/obj/Release/net5.0
/testApp/MvcClient/bin/Debug/net5.0
/testApp/MvcClient/obj
/testApp/MvcClient1/bin/Debug/net5.0
/testApp/MvcClient1/obj
/testApp/MvcClient2/bin/Debug/net5.0
/testApp/MvcClient2/obj
/testApp/Api1/bin/Debug/net5.0
/testApp/Api1/obj
/testApp/Api2/bin/Debug/net5.0
/testApp/Api2/obj
/testApp/AuthServer/bin/Debug/net5.0
/testApp/AuthServer/obj
/testApp2/UdemyIdentity/obj/Debug/netcoreapp3.1
